extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Nick Huemmer

        p Full Stack JavaScript and Front End Developer 
        p Dad
        p Food Scientist
        p Programming and code enthusiast


        .about-bio
          p I am a full stack developer transitioning from a 17 year career as a food scientist.  I have just completed Treehouse Full Stack JavaScript curriculum.  
          p I like to fix and build things and figure out how they work. I also love science and am a hacker and engineer at heart!
          p I love code and programming.  Any technology (old or new) is interesting to me.
          p I also raise kids, ride and fix bikes and hike.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Sass 
          li Statistics
          li Nutrition 
          li Food Chemistry

        h6 Contact Info

        
        ul
          li 224-420-2364
          li njhuemmer@gmail.com

      
      a.btn-link-about(href='https://www.linkedin.com/in/nickjhuemmer/') LinkedIn
      a.btn-link-about(href='https://github.com/ElDuke717') GitHub
      a.btn-link-about(href='https://twitter.com/NickHuemmer') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back