extends layout.pug

block content
  
  article.portfolio-error 

    h1 Uh oh, something's not right.
    h2= error.message
    h2= error.status
    h3 Stack trace:
    
    .stack-trace
        p= error.stack