extends layout.pug

block content
  
  article.portfolio-error 
    h1 &#x1F62B
    h1 It's a
    h1= error.status
    h2 NOT FOUND ERROR 
    h2= error.message
    
    h3 You're connected to the server, but the server could not find the page you're looking for.  
    h3 Please check the URL to see if you typed it in correctly.